.pink{
    color: #e83e8c;
}
.show-style{
    padding: 15px;
    background: #e6e2eb;
    border: 1px solid #c9c1d5;
}
.show-style-nested{
    padding: 15px;
    background: #d1c9da;
    border: 1px solid #b8adc7;
}
.font-yellow{
    color: #ffc107;
}